.expenses-filter {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.expenses-filter label {
  color: white;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.expenses-filter select {
  font: inherit;
  padding: 0.5rem 2rem;
  font-weight: bold;
  border-radius: 6px;
}

.clear-btn {
  color: white;
  background: rgb(201, 6, 6);
  border-radius: 6px;
  padding: 5px 10px;
  outline: none;
  border: none;
}
