.new-expense__controls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  row-gap: 2rem;
  column-gap: 2rem;
  margin-bottom: 1.5rem;
  text-align: left;
  justify-items: center;
  align-items: center;
}

.new-expense__control label {
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  display: block;
}

.new-expense__control input,
.new-expense__control select {
  font: inherit;
  padding: 0.8rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.submit-btn {
  transition: 0.3s all;
}

.submit-btn:active {
  transform: scale(0.8);
}
